<html>
<head>
</head>
<body>
    @{
        if (Model != null)
        {
            var TestCaseDetailsObj = Newtonsoft.Json.JsonConvert.DeserializeObject<TestSeleniumReport.DTO_s.Dto_TestCaseDetailsObj>(Model);
            var percentilePassed = (double)TestCaseDetailsObj.PassedTestCases / (double)TestCaseDetailsObj.TotalTestCases * 100.0;

            <div class="row p-2" id="TestRun">
                <div class="d-flex justify-content-between mb-4">
                    <div class="breadcrumbs w-20">
                        <div class="breadcrumb-item clickable-element" onclick="Back()">@TestCaseDetailsObj.TestSuiteName</div>
                        <div class="breadcrumb-item">@TestCaseDetailsObj.TestRunName</div>
                    </div>
                    <div class="inner">
                        <button type="button" class="btn button" onclick="Back()">
                            <i class="fa fa-arrow-left back-arrow" aria-hidden="true"></i>Back
                        </button>
                    </div>
                </div>
                <div class="row d-flex">
                    <div class="col-md-5 card w-25" style="margin-left:10px;">
                        <canvas id="testCaseChart"></canvas>
                        <script>
                            var xValues = ["Passed", "Failed"];
                            var yValues = [@TestCaseDetailsObj.PassedTestCases, @TestCaseDetailsObj.FailedTestCases];
                            var barColors = [
                                "Green",
                                "Maroon"
                            ];
                            new Chart("testCaseChart", {
                                type: "doughnut",
                                data: {
                                    labels: xValues,
                                    datasets: [{
                                        backgroundColor: barColors,
                                        data: yValues
                                    }]
                                },
                                options: {
                                    title: {
                                        display: true,
                                        text: "Test Case Details Chart"
                                    }
                                }
                            });
                        </script>
                    </div>
                    <div class="col-md-2">
                        <div class="card mb-1 h-50">
                            <div class="card-header">
                                <h6 class="card-title">Tests</h6>
                            </div>
                            <div class="card-body h-100">
                                <div>
                                    <small>
                                        <b>@TestCaseDetailsObj.PassedTestCases</b> tests passed
                                    </small>
                                </div>
                                <div>
                                    <small>
                                        <b>@TestCaseDetailsObj.FailedTestCases</b> tests failed
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="card h-50">
                            <div class="card-header">
                                <h6 class="card-title">Tests</h6>
                            </div>
                            <div class="card-body h-100">
                                <h2>@TestCaseDetailsObj.TotalTestCases</h2>
                                <span>
                                    <span class="text-info">@percentilePassed%</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="card mb-1 h-50">
                            <div class="card-header">
                                <h6 class="card-title">Start</h6>
                            </div>
                            <div class="card-body h-100">
                                <div>
                                    <small>
                                        <b>@TestCaseDetailsObj.TestRunStartDateTime.ToString("dd-MM-yyyy HH:mm:ss")</b>
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="card h-50">
                            <div class="card-header">
                                <h6 class="card-title">Duration</h6>
                            </div>
                            <div class="card-body h-100">
                                <div>
                                    <small>
                                        <b>@(TestCaseDetailsObj.TestRunEndDateTime - TestCaseDetailsObj.TestRunStartDateTime)</b>
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="card-header mb-1">
                                <h6 class="card-title">Environment</h6>
                            </div>
                            <div class="table-overflow">
                                <table class="table">
                                    <thead>
                                        <tr class="card-header">
                                            <th>Name</th>
                                            <th>Value</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Tester Name</td>
                                            <td>@TestCaseDetailsObj.TesterName</td>
                                        </tr>
                                        <tr>
                                            <td>Environment</td>
                                            <td>@TestCaseDetailsObj.TestEnvironment</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 m-2 p-2 shadow-lg">
                    @{
                        if (TestCaseDetailsObj.TestCaseDetailsList != null)
                        {
                            <div class="d-flex date fw-bold">
                                <div class="col-md-2 p-1">Status</div>
                                <div class="col-md-4 p-1">TestCase Name</div>
                                <div class="col-md-2 p-1">Video</div>
                                <div class="col p-1">Start Time</div>
                            </div>
                            foreach (var item in TestCaseDetailsObj.TestCaseDetailsList)
                            {
                                TimeSpan duration = item.TestRunEndDateTime - item.TestRunStartDateTime;

                                <div id="caseId_@TestCaseDetailsObj.TestSuiteName@item.TestRunName@item.TestCaseName" type="button" class="card btn-gray testCaseStepId_Clickable" onclick="GetTestCaseStepsDetails('@TestCaseDetailsObj.TestSuiteName','@item.TestRunName','@item.TestCaseName')">
                                    <div class="d-flex card-body">
                                        <div class="col-md-2 p-1">
                                            <em class="@(item.TestCaseStatus == "Passed" ? "fa fa-check-circle bg-success text-white" : item.TestCaseStatus == "Failed" ? "fa fa-times-circle bg-danger text-white" : item.TestCaseStatus == "Partially Passed" ? "text-warning" : "text-primary")"></em>
                                        </div>
                                        <div class="col-md-4 p-1">
                                            <em>@item.TestCaseName</em>
                                            <em>@duration</em>
                                        </div>
                                        <div class="col-md-2 p-1">
                                            <a class="px-3" href="#" onclick="showVideoPopup('@item.TestCaseName.Replace(" ", "")');">
                                                <em class="fa fa-video"></em>
                                            </a>
                                        </div>
                                        <div class="col p-1">@item.TestRunStartDateTime.ToString("hh:mm:ss tt")</div>
                                    </div>
                                </div>

                                <div id="videoModal-@item.TestCaseName.Replace(" ", "")" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                <button type="button" class="close" onclick="closeModal('videoModal-@item.TestCaseName.Replace(" ", "")')" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                                <div class="video-frame">
                                                    <video width="100%" height="400" poster="" controls="controls" preload="none" autoplay>
                                                        <source src="@item.TestCaseVideoURL.ToLower()" type="audio/webm" />
                                                    </video>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                        }
                    }
                </div>
                <div id="StepsId" class="col card m-2 shadow-lg p-2">
                    <div id="testCaseListContainer">
                    </div>
                </div>
            </div>
        }
    }
</body>
</html>
<script>
    function GetTestCaseStepsDetails(testSuitesName, runId, testCaseName) {
        $.ajax({
            url: '@Url.Action("GetTestCaseStepsDetails", "Home")',
            data: { testSuitName: testSuitesName, runId: runId, testCaseName: testCaseName },
            Type: "Post",
            success: function (result) {
                $('#testCaseListContainer').html(result);
                $(".testCaseStepId_Clickable").removeClass("item-selected");
                var selector = '#caseId_' + testSuitesName + runId + testCaseName;
                $(selector).addClass("item-selected");
            }
        });
    };
</script>
