<div class="container-fluid">
    <div class="row p-2 test-run-container" id="TestRun">
        <div class="col-md-4 m-2 p-2 shadow-lg">
            <span class="fw-bold mb-2">Test Suite</span>
            <div class="row d-flex">
                <input id="testsuitessearch" type="text" class="border input-box m-2 p-2 w-75" onkeyup="filterTestSuites()" placeholder="Search Test Suite..." />
                <button type="button" class="button col m-2 rounded-pill" onclick="addTestSuites()">
                    <em class="fa fa-plus"></em>
                </button>
            </div>
            <hr />
            <div class="testsuites">
                @{
                    if (ViewBag.TestSuites != null)
                    {
                        var testSuiteList = Newtonsoft.Json.JsonConvert.DeserializeObject<List<TestSeleniumReport.DTO_s.Dto_TestSuites>>(ViewBag.TestSuites);
                        foreach (var item in testSuiteList)
                        {
                            <button id="testSuites_@item.TestSuiteName" type="button" class="btn accordion-gray col-md-12 mb-2 testSuite_Clickable text-lg-start" onclick="GetDashboardDetails('@item.TestSuiteName')">
                                @item.TestSuiteName
                                <span class="float-end">
                                    <a class="btn-gray" asp-controller="Home" asp-action="EditTestSuite" asp-route-testSuiteName="@item.TestSuiteName">
                                        <em class="fas fa-edit mx-2 text-success"></em>
                                    </a>
                                    <a class="btn-gray" asp-controller="Home" asp-action="DeleteTestSuites" asp-route-testSuiteName="@item.TestSuiteName">
                                        <em class="fa fa-trash-alt text-danger"></em>
                                    </a>
                                    <a class="btn-gray" onclick="executeTestSuites('@item.TestSuiteName')">
                                        <em class="fas fa-play text-dark"></em>
                                    </a>
                                </span>
                            </button>
                        }
                    }
                }
            </div>
        </div>
        <div id="runId" class="col m-2 shadow-lg p-2">
            <span class="fw-bold">Test Run</span>
            <div class="card-header-tabs card-header">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link text-dark active dash" aria-current="page" href="#" onclick="showTab('dash')">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark hist" href="#" onclick="showTab('hist')">History</a>
                    </li>
                </ul>
                <div id="dash" class="m-2 mt-1 tab-content active">
                    <div id="testRunChartContainer">
                    </div>
                </div>

                <div id="hist" class="m-2 mt-1 tab-content">
                    <div id="testRunListContainer">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="TestRunDetails">
        <div id="CaseId" class="m-2 shadow-lg p-2">
            <div id="testcaseChartContainer">
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#TestRun').show();
        $('#TestRunDetails').hide();
        $('#runId').hide();
    });

    function showTab(tabId) {
        var tabContents = document.querySelectorAll('.tab-content');
        $(".dash").removeClass("active item-selected");
        $(".hist").removeClass("active item-selected");

        var selector = '.' + tabId;
        $(selector).addClass("active item-selected");

        $('.tab-content').hide();
        $('#' + tabId).show();
    }

    function filterTestSuites(event) {
        var input = document.getElementById("testsuitessearch");
        var filter = input.value.toLowerCase();
        var nodes = document.getElementsByClassName('testsuites');

        for (i = 0; i < nodes.length; i++) {
            if (nodes[i].innerText.toLowerCase().includes(filter)) {
                nodes[i].style.display = "block";
            } else {
                nodes[i].style.display = "none";
            }
        }
    }

    function GetDashboardDetails(testSuitesName) {
        $.ajax({
            url: '@Url.Action("GetDashboardDetails", "Home")',
            data: { TestSuiteName: testSuitesName, FilterType: "runs", FilterValue: 7 },
            success: function (result) {
                $('#testRunChartContainer').html(result);
                $('#runId').show();
                GetRunDetails(testSuitesName)
                document.getElementById('runBased').checked = true;
            }
        });
    };

    function GetDashboardChartDetails(testSuiteName) {
        var type = document.querySelector('input[name="chartType"]:checked').value;
        var num = document.getElementById('selectDays').value;
        $.ajax({
            url: '@Url.Action("GetDashboardDetails", "Home")',
            data: {
                TestSuiteName: testSuiteName,
                FilterType: type,
                FilterValue: num
            },
            success: function (result) {
                $('#testRunChartContainer').html(result);
               if(num != null)
               {
                    document.getElementById('selectDays').value = num;
               }
                if(type == 'days')
                {
                    document.getElementById('daysBased').checked = true;
                }
                else{
                    document.getElementById('runBased').checked = true;
                }
            }
        });
    }

    function GetRunDetails(testSuitesName) {
        $.ajax({
            url: '@Url.Action("GetRunDetails", "Home")',
            data: { testSuitName: testSuitesName },
            success: function (result) {
                $('#testRunListContainer').html(result);
                $('#runId').show();
                $(".testSuite_Clickable").removeClass("item-selected");
                var selector = '#testSuites_' + testSuitesName;
                $(selector).addClass("item-selected");
            }
        });
    };

    function GetTestCaseDetails(testSuitesName, runId) {
        $.ajax({
            url: '@Url.Action("GetTestCaseDetails", "Home")',
            data: { testSuitName: testSuitesName, runId: runId },
            Type: "Post",
            success: function (result) {
                $('#testcaseChartContainer').html(result);
                $(".testRunId_Clickable").removeClass("item-selected");
                var selector = '#runId_' + testSuitesName + runId;
                $(selector).addClass("item-selected");
                $('#TestRun').hide();
                $('#TestRunDetails').show();
            }
        });
    };

    function toggleContent(id) {
        var content = document.getElementById(id);
        if (content.style.display === "block") {
            content.style.display = "none";
            $("#" + id).removeClass("item-selected");
        } else {
            content.style.display = "block";
            $("#" + id).addClass("item-selected");
        }
    };

    function executeTestSuites(testSuitesName) {
        $.ajax({
            url: '@Url.Action("ExecuteTestSuite", "Home")',
            data: { TestSuiteName: testSuitesName },
            success: function (result) {
                console(result);
            }
        });
    };

    function addTestSuites() {
        window.location.href = '@Url.Action("AddTestSuite", "Home")';
    }

    function Back() {
        $('#TestRun').show();
        $('#TestRunDetails').hide();
    };

    function showVideoPopup(testcaseName) {
        $('#videoModal-' + testcaseName).modal('show');
    };

    function closeModal(testcaseName) {
        $('#' + testcaseName).modal('hide');
    };
    function showImagePopup(testcaseName) {
        $('#imgModal').modal('show');
    };

    function closeImageModal(testcaseName) {
        $('#imgModal').modal('hide');
    };
</script>